---
import Layout from "@layouts/Layout.astro";
import Logo from "@shared/components/Logo.astro";
---

<Layout title="Personal Portfolio">
  <main>
    <div class="container">
      <Logo />
    </div>
  </main>
</Layout>
