---
import "@fontsource-variable/sora";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Frontend developer with expertise in React.js, JavaScript, and UI/UX design. Skilled in creating responsive, dynamic websites and applications."
    />
    <meta
      name="keywords"
      content="Frontend developer, React.js, JavaScript, UI/UX design, web development, portfolio, responsive design, HTML, CSS, JavaScript projects, frontend portfolio"
    />
    <meta name="author" content="Arslan Mustafin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary-black: #000000;
    --primary-neutral: #404040;
    --primary-white: #ffffff;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-500: #71717a;
    --zinc-800: #27272a;
    --error-500: #ef4444;
  }
  html {
    /* font-family: system-ui, sans-serif; */
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    font-family: "Sora Variable", sans-serif;
  }
</style>
